body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav {
  background-color: #070082;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 26px;
}

nav a:hover {
  color: #00fff7;
}

#nuestroLogo {
  width: 100px;
  height: auto;
}

#inicio {
  font-size: 60px;
}