body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  background-color: #020239;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.login-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('GuardianIcon.png');
  background-position: 140% center; /* Alinea la imagen a la derecha */
  background-size: 60%; /* Ajusta la imagen al tamaño disponible */
  background-repeat: no-repeat; /* No repite la imagen */
}

/* Tarjeta del formulario */
.form-card {
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 800px;
  background: white;
  border-radius: 30px;
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.25);
  padding: 30px;
  height: 500px;
  box-sizing: border-box;
}

.back-button {
  font-size: 24px;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  color: #1E1E1E;
}

.titulo {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form label {
  font-size: 1rem;
  font-weight: 600;
  color: #1E1E1E;
}

form input {
  padding: 12px 16px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
}

.form-actions {
  display: flex;
  justify-content: space-between; /* Para distribuir elementos a izquierda y derecha */
  align-items: center;
  margin-top: 0px;
  flex-wrap: wrap;
}

.link {
  font-size: 1.3rem;
  color: #577AD4;
  text-decoration: underline;
  font-weight: 600;
}

button[type="submit"] {
  background-color: #143994;
  color: #F5F5F5;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 12px 32px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  /* Esto lo alinea a la derecha naturalmente con justify-content: space-between */
}

.registro-link {
  text-align: center;
  width: 100%;
  margin-top: 0px;
  font-size: 1.3rem;
  color: black;
}

.blue-link {
  color: #577AD4;
  text-decoration: underline; /* Esto elimina el subrayado si lo prefieres */
  font-weight: 600;
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
  .titulo {
    font-size: 48px;
    font-weight: 700;
    color: #000;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  form label {
    font-size: 24px;
    font-weight: 600;
    color: #1E1E1E;
  }
  
  form input {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
  }
}